{% extends 'first_app/base.html' %}
{% load static %}

{% block title %}
Новости
{% endblock title %}
{% block head %}
<style>
    body {
        background-image: url('{% static 'first_app/img/pexels-felix-mittermeier-956999.jpg' %}');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
</style>
{% endblock head %}
{% block content %}
<div class="features" id="features">
    <div class="news_title">
        <h1>Новости</h1>
    </div>

    {% if news %}
    {% for i in news %}
    <div class="alert alert-warning div_alert">
        <h3> {{i.title}}</h3>
        <h4>{{ i.anons }}</h4>
        <p>{{ i.full_text }}</p>
        <a href="{% url 'news_datail' i.id %}" class="btn btn-warning">Подробнее</a>
    </div>

    {% endfor %}
    {% else %}
    <p>Нет записей в DB.</p>
    {% endif %}
</div>
{% endblock content %}