{% extends 'first_app/base.html' %}
{% block title %}Контакты{% endblock title %}
{% block head %}<style>
    body {
        background-image: url('{{ bgimage }}');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
</style>{% endblock head %}
{% block content %}
<div class="features" id="features">
    <h2 id="contacts">Контакты</h2>
    {% for i in phone_list %}
        <p id="cur_date_time">{{ i }}</p>
    {% endfor %}
</div>

{% endblock  %}