{% extends 'home/base.html' %}

{% block title %}Регистрация{% endblock title %}
{% block head %}

{% endblock head %}

{% block content %}
{% if not user.is_authenticated %}
<h1>Регистрация</h1>
{% if user_form.username.errors %}
{{ user_form.errors.username }}
{% endif %}

{% if user_form.email.errors %}
{{ user_form.errors.email }}
{% endif %}

{% if user_form.password2.errors %}
{{ user_form.errors.password2 }}
{% endif %}

<form method="post" id="form">
    {% csrf_token %}
    {% for field in user_form %}{{ field }}{% endfor %}
    <p><input type="submit" class="btn btn-info" id="btn-subm" value="Регистрация"></p>
</form>
{% endif %}

<style>
    .errorlist {
        list-style: none;
        margin: 0;
        background-color: #FFE440;
        border: 1.5px solid black;
        width: 600px;
        margin: 0 auto;
        margin-top: 0;
        list-style-position: inside;
        border-radius: 4px;
        padding: 0;

            {
            % comment %
        }

        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);

            {
            % endcomment %
        }
    }

    .form-control {
        width: 50%;
        margin: 0 auto;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    #form{
        margin:20px;
      }
    
    .btn-info{
        margin-top:10px;
    }
</style>
{% endblock %}